<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body>
    <form  method="post">
        <div class="container">

            <h3>pucchi Now</h3>
            <input  class="flex" type="text" name="name" placeholder="Name">
            <input class="flex"  type="email" name="email" placeholder="Email">
            <button class="flex"  type="submit">Login</button>
        </div>
    </form>
</body>
</html>